<div id="<%= dom_id entity %>" class="border p-4 mx-2 mb-4 cursor-pointer bg-white">
  <div class="flex items-center mb-2">
    <div>
      <p class="text-lg font-semibold"><%= entity.name %></p>
    </div>
    <div class="ml-auto">
      <strong> <%= entity.amount %> $</strong> 
    </div>
  </div>
</div>
