<nav class="bg-blue-500 py-4 px-1">
  <div class="container mx-auto px-2 flex justify-between items-center">
    <!-- Toggle button (on the left corner) -->
    <button class="text-white">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Centered page heading -->
    <div class="text-center text-white text-2xl font-semibold">
      Categories
    </div>

    <!-- Logout button on the right corner -->
    <div>
  <%= button_to 'Log Out', destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure you want to sign out?' }, class: "text-white font-semibold" %>
</div>
  </div>
</nav>

<div class="container mx-auto mt-4">
  <p style="color: green"><%= notice %></p>

  <div id="groups">
    <% @groups.each do |group| %>
      <%= render partial: 'group', locals: { group: group } %>
    <% end %>
  </div>
</div>

<div class="bg-green-500 text-white py-4 fixed bottom-0 w-full">
  <div class="container mx-auto text-center">
    <a href="<%= new_group_path %>" class="text-white text-xl px-4 py-2">Add new Category</a>
  </div>
</div>
